h1,h2,h3,h4,h5,h6{
    font-weight: normal;
    margin: 0;
    padding: 0;
}

h4{
    font-size: large;
}

li{
    list-style: none;
}

p{
    margin: 0;
}


.stage-decorations{
    display: contents;
}
        .stageGoldBar{
            position: absolute;
            z-index: 3;
            border: red;
            background-image: linear-gradient( 0deg, rgb(255, 227, 104), rgba(95, 22, 22, 0.418), black, rgb(95, 22, 22));
            width: 100%;
            top: 4px;
            height: 10px;
            box-shadow: 1px 1px 1px 1px #0a000c71, 0px 0px 1px #ff5f5f inset;
        }
        .stageBar{
            position: absolute;
            z-index: 3;
            border: red;
            background-image: linear-gradient( 90deg, rgb(95, 22, 22), black, rgb(95, 22, 22), black, rgb(95, 22, 22), black, rgb(95, 22, 22));
            width: 100%;
            height: 10px;
            box-shadow: 1px 1px 1px 1px #0a000c71, 0px 0px 1px #ff5f5f inset;
        }
        .stageLightLeft{
            z-index: 4;
            position: absolute;
            top:-4rem;
            left: 0%;
            background-image: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(255, 228, 140, 0.288) 50%, rgba(0, 0, 0, 0));
            width: 10%;
            max-width: 10%;
            max-height: 5%;
            transform: scaleY(6);
            box-shadow: 0px 10px 10px 1px rgba(255, 234, 112, 0.432), 150px 0px 10px 0px rgba(255, 195, 84, 0.089) inset;
            border-radius: 60%;
        }
        .stageLightRight{
            z-index: 4;
            position: absolute;
            top:-4rem;
            right: 0%;
            background-image: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(255, 228, 140, 0.288) 50%, rgba(0, 0, 0, 0));
            width: 10%;
            max-width: 10%;
            max-height: 5%;
            transform: scaleY(6);
            box-shadow: 0px 10px 10px 1px rgba(255, 234, 112, 0.432), 150px 0px 10px 0px rgba(255, 195, 84, 0.089) inset;
            border-radius: 60%;
        }
        .stageLightCenter{
            z-index: 4;
            position: absolute;
            top: -4rem;
            right: 45%;
            background-image: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(255, 228, 140, 0.288) 50%, rgba(0, 0, 0, 0));
            width: 10%;
            max-width: 10%;
            max-height: 5%;
            transform: scaleY(6);
            box-shadow: 0px 10px 10px 1px rgba(255, 234, 112, 0.432), 150px 0px 10px 00px rgba(255, 195, 84, 0.089) inset;
            border-radius: 60%;
        }
        .curtainLeft{
            position: absolute;
            z-index: 2;
            transform: skew(1turn, -18deg);
            border: 1px solid rgb(219, 61, 61);
            background-image: 
            repeating-linear-gradient(
            90deg,
            rgb(95, 22, 22),
            rgba(204, 90, 90, 0.342),
            rgb(0, 0, 0) 20px,
            black 3px,
            rgb(95, 22, 22) 30px /* determines size */
            ),
            repeating-linear-gradient(
                120deg,
                rgb(180, 52, 52),
                rgb(196, 73, 73),
                rgb(143, 0, 0) 3px,
                rgb(143, 0, 0) 1px,
                rgb(255, 190, 190) 2px
            ),
            linear-gradient(rgba(0, 0, 0, 0.699), rgb(133, 45, 45), rgba(0, 0, 0, 0.575));
            background-blend-mode: hard-light;
            width: 8%;
            height: 650px;
            box-shadow: 0px 0px 40px 25px rgba(0, 0, 0, 0.767), 1px 2px 30px 2px rgba(255, 74, 74, 0.774) inset;
        }
        .curtainRight{
            position: absolute;
            z-index: 2;
            transform: skew(1turn, 18deg);
            right: 0rem;
            border: 1px solid rgb(219, 61, 61);
            background-image: 
            repeating-linear-gradient(
            90deg,
            rgb(95, 22, 22),
            rgba(204, 90, 90, 0.342),
            rgb(0, 0, 0) 20px,
            black 3px,
            rgb(95, 22, 22) 40px /* determines size */
            ),
            repeating-linear-gradient(
                120deg,
                rgb(180, 52, 52),
                rgb(196, 73, 73),
                rgb(143, 0, 0) 3px,
                rgb(143, 0, 0) 1px,
                rgb(255, 190, 190) 2px
            ),
            linear-gradient(rgba(0, 0, 0, 0.699), rgb(133, 45, 45), rgba(0, 0, 0, 0.575));
            background-blend-mode: hard-light;
            width: 8%;
            height: 650px;
            box-shadow: 0px 0px 40px 25px rgba(0, 0, 0, 0.767), 1px 2px 30px 2px rgba(255, 74, 74, 0.774) inset;
        }
        .curtainBottomLeft{
            position: absolute;
            z-index: 3;
            border: 1px outset rgb(119, 31, 31);
            background-image: linear-gradient( 90deg, rgba(95, 22, 22, 0.829), rgb(0, 0, 0), rgba(95, 22, 22, 0.829), rgb(0, 0, 0)),
            repeating-linear-gradient(120deg, rgb(95, 22, 22), rgb(0, 0, 0), rgb(95, 22, 22) 3px, rgb(90,22,22) 1px, rgba(0, 0, 0, 0.555) 2px);
            width: 3%;
            height: 95%;
            box-shadow: 1px 1px 14px 20px #000000d7, 0px 0px 1px #ff5f5f inset;
        }
        .curtainBottomRight{
            position: absolute;
            z-index: 3;
            right: 0rem;
            border: 1px outset rgb(119, 31, 31);
            background-image: linear-gradient( 90deg, rgba(95, 22, 22, 0.829), rgb(0, 0, 0), rgba(95, 22, 22, 0.829), rgb(0, 0, 0)),
            repeating-linear-gradient(120deg, rgb(95, 22, 22), rgb(0, 0, 0), rgb(95, 22, 22) 3px, rgb(90,22,22) 1px, rgba(0, 0, 0, 0.555) 2px);
            width: 3%;
            height: 95%;
            box-shadow: 1px 1px 14px 20px #000000d7, 0px 0px 1px #ff5f5f inset;
        }

        #Curtain-right {
            float: right;
            padding-left: 15px;
            margin: 0,15px,0,0;
            fill:red;
        }

        .curtainCenterMass{
            position: absolute;
            z-index: 2;
            right: 0rem;
            box-shadow: 0px 0px 50px 30px rgba(0, 0, 0, 0.692), 1px 2px 30px 2px rgba(255, 74, 74, 0.774) inset;
            border-bottom: 1px solid rgb(95, 22, 22);
        }
        .curtainCenterMassHighlight{
            background-image: 
            repeating-linear-gradient(
              90deg,
              rgb(95, 22, 22),
              rgba(255, 186, 186, 0.342),
              rgb(0, 0, 0) 20px,
              black 5px,
              rgb(95, 22, 22) 30px /* determines size */
            ),
            repeating-linear-gradient(
                120deg,
                rgb(180, 52, 52),
                rgb(196, 73, 73),
                rgb(143, 0, 0) 3px,
                rgb(143, 0, 0) 1px,
                rgb(255, 190, 190) 2px
            ),
            radial-gradient(farthest-corner at 0px 0px, rgb(255, 189, 189), rgb(37, 0, 0)),
            radial-gradient(farthest-corner at 1000px 0px, white, rgb(49, 0, 0));
            width: 100%;
            height: 30%;
            border: 1px outset rgb(124, 16, 16);
            background-blend-mode: hard-light;
        }
        .curtainSlate{
            position: absolute;
            z-index: 2;
            left: 0rem;
            box-shadow: 0px 0px 50px 30px rgba(0, 0, 0, 0.692), 1px 2px 30px 2px rgba(255, 74, 74, 0.774) inset;
            border-bottom: 1px solid rgb(95, 22, 22);
        }
        


.headline-grid-container{
    grid-row: 1;
    grid-column: 2;
    width: 100vw;
    scroll-snap-align: start;
}

        #imageDec{
            position:static;
            grid-column: 2;
            grid-row: 1;
            margin: 2rem 0rem 0rem 0rem;
            padding: 1rem 0rem 0rem 0rem;
            scale: 1;
            max-width: 350px;
            width: 200px;
            height: 200px;
            max-height: 200px;
            object-fit: scale-down;
            border-bottom: 1rem solid rgba(255, 113, 113, 0.596);
            box-shadow: 0px 10px 1px 1px rgba(255, 0, 0, 0.295), 150px 0px 10px 00px rgba(255, 84, 84, 0.137) inset;
            border-radius: 100%;
            mix-blend-mode:lighten;

        }

        .page-headline-base-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            justify-items: center;
            z-index: -6;
            position: relative;
            width: 100%;
            height: 550px;
            background:
            repeating-linear-gradient(0deg, rgb(255, 255, 255) 1rem, rgba(83, 0, 104, 0.288) 1rem, rgb(54, 20, 20) 1.1rem),
            radial-gradient( ellipse at bottom,#00d696c4, #000000);
            background-size: 20% 30%;
            -webkit-animation: BackgroundAnimation 30s ease-in-out infinite;
            -moz-animation: BackgroundAnimation 30s ease-in-out infinite;
            animation: BackgroundAnimation 30s ease-in-out infinite;
            text-align:center;
            font-size: 4rem;
            border: 1px solid rgba(123, 255, 193, 0.11);
            box-shadow: 0px 100px 30px 20px rgb(0, 0, 0), 0px 10px 30px 30px rgba(0, 0, 0, 0.76) inset;
            margin:0;
            transition: all ease-in-out 0.4s;
            animation-duration: 80s;
            mix-blend-mode: difference;
        }

            @-webkit-keyframes BackgroundAnimation {
                0%{background-position:0% 25%}
                50%{background-position:100% 76%}
                100%{background-position:0% 25%}
            }
            @-moz-keyframes BackgroundAnimation {
                0%{background-position:0% 25%}
                50%{background-position:100% 76%}
                100%{background-position:0% 25%}
            }
            @keyframes BackgroundAnimation {
                0%{background-position:0% 25%}
                50%{background-position:100% 76%}
                100%{background-position:0% 25%}
            }
            #pageHeadlineHoloSheen{
                position:absolute;
                top: 24%;
                pointer-events: none;
                z-index: -5;
                width: 100%;
                height: 20%;
                background-blend-mode: soft-light;
                mix-blend-mode:color-dodge;
            }

            hr{
                width: 30%;
                height: 1px;
                border: 1px solid rgba(43, 0, 0, 0.795);
                box-shadow: 0px 1px 1px rgb(0, 0, 0), 0px 0px 0px 1px rgba(255, 255, 255, 0.288) inset;
            }

                #headline-hr{
                    grid-column: 1/3;
                }

            h1{
                font-family: 'Oleo Script Swash Caps', cursive;

            }
            .h1Sheen{
                margin: 1rem;
                text-shadow: 0px 0px 9px  #80ffbf;
                -webkit-text-stroke: 1px rgba(255, 255, 255, 0.329);
                mix-blend-mode: color-dodge;
                background-clip: text;
                -webkit-background-clip: text;
                color: transparent;
                font-size: 0.8em;
                background-image: radial-gradient(rgb(255, 174, 0), black),
                linear-gradient(rgba(103, 255, 136, 0.589), rgb(57, 255, 172));
                background-blend-mode: color-dodge;
            }
            #h1Name{
                grid-row: 2;
                grid-column: 2;
            }

            h2{
                grid-row: 3;
                grid-column: 2;
                font-size: 0.9em;
                text-align: center;
                width: 100%;
                color: rgba(240, 222, 123, 0.966);
                text-shadow: 2px 2px 2px rgb(255, 175, 121);
                mix-blend-mode:color-dodge;
                padding: 0;
                margin: 0;
                font-family: 'Oleo Script Swash Caps', cursive;
            }


        #pageSubHeadBar{
            z-index: 1;
            border: 1px solid #000000;
            margin-bottom: -0.1rem;
            height: 0.8rem;
            width: 100%;
            border-bottom: 2px solid rgb(214, 53, 53);
            background-image:
            radial-gradient(ellipse at top, rgba(255, 181, 85, 0.555) 10%, rgba(156, 0, 0, 0.692)),
            linear-gradient(rgba(255, 255, 255, 0.199), rgba(0, 0, 0, 0.432)),
            repeating-linear-gradient( 120deg, red, rgb(172, 132, 80) 0.5px, rgb(172, 132, 80) 0.5px, red 2.2px);
        }
        #pageSubHeadInnerBar{
            z-index: 1;
            position: relative;
            top: 2px;
            border: 3px solid #792222;
            height: 3rem;
            background-image:
            radial-gradient(ellipse at top, rgba(255, 181, 85, 0.555) 10%, rgba(156, 0, 0, 0.692)),
            linear-gradient(rgba(255, 255, 255, 0.199), rgba(0, 0, 0, 0.432)),
            repeating-linear-gradient( 120deg, burlywood, rgb(172, 132, 80) 0.5px, rgb(172, 132, 80) 0.5px, burlywood 2.2px);
            margin-bottom: -3rem;
        }

        .subHeader {
            display: grid;
            align-items: center;
            justify-items: center;
            font-size:1.3rem;
            border: 1px solid rgb(216, 100, 100);
            text-align: center;
        }
        #subHeaderBottomBar {
            scroll-snap-align: start;
            height: 1rem;
            width: 100%;
            border-bottom: 2px solid rgb(214, 53, 53);
            background-image:
            radial-gradient(ellipse at bottom, rgba(255, 181, 85, 0.555) 10%, rgba(156, 0, 0, 0.692)),
            linear-gradient(rgba(255, 255, 255, 0.199), rgba(0, 0, 0, 0.432)),
            repeating-linear-gradient( 120deg, red, rgb(172, 132, 80) 0.5px, rgb(172, 132, 80) 0.5px, red 2.2px);
            box-shadow: 10px 3px 11px 3px #000000, 0px 0px 2px 0px #ff6b6b inset;
        }

        #subHeaderBottomBar, #pageSubHeadInnerBar, #pageSubHeadBar{
            filter:hue-rotate(5deg) saturate(80%) contrast(100%);
        }


        #subHeadText{
            z-index: 1;
            position: relative;
            font-size: large;
            width: 100%;
            padding: 0.5rem 0.5rem 0.5rem 0.5rem;
            color: rgba(0, 0, 0, 0.37);
            text-shadow: 0px 0px 5px rgb(255, 255, 255);
            mix-blend-mode: color-burn;
        }
        #subHeaderBottom {
            z-index: -3;
            width: 100%;
            border-bottom: 1px dashed rgb(97, 0, 0);
            background-image:
            radial-gradient( rgba(255, 31, 31, 0.322), rgba(0, 0, 0, 0.158)),
            linear-gradient(rgb(134, 0, 0) 1%, black 1%, rgb(27, 0, 0) 10%);
            box-shadow: 1px 1px 1px 1px black, 1px 1px 10px 10px rgba(173, 57, 57, 0.26) inset;
        }

        nav{
            display: grid;
            margin: 0rem 0rem 2rem 0rem;
            justify-items: center;
        }

        .navbar{
            list-style-type: none;
            margin: 0;
            padding: 1rem;
            overflow: hidden;
            background-color:rgb(41, 0, 0);
            box-shadow: 0px 2px 2px 0px black;
        }
        
        .navbar li {
            float: left;
            font-size: large;
            margin: 1rem;
        }

        .navbar li a, .dropbtn {
            background-color: rgba(0, 0, 0, 0.178);
            padding: 1rem;
            color: rgb(255, 213, 159);
        }

        .navbar li a:hover, .dropdown:hover .droptbn {
            transition: 0.3s;
            background-color:rgb(58, 10, 10);
        }

        .dropdown {
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color:rgb(58, 10, 10);
            margin-top: 1rem;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.418);
            z-index: 1;
        }

        .dropdown-content a {
            color:antiquewhite;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: left;
        }

        .dropdown-content a:hover {
            background-color: bisque;
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }



/* #aboutMeSocialSpan {
    display: grid;
    grid-row: 4;
    position: relative;
    top: -80px;
    grid-column: 1;
    padding: 1rem;
    margin: -1rem;
    cursor: pointer;
    row-gap: 0rem;
    border: 1px solid rgba(0, 0, 0, 0.397);
    background-color: rgba(0, 170, 65, 0.301);
    background-blend-mode: color-burn;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.733), 1px 1px 10px 0px #3f0858 inset;
    font-size: 1rem;
    height: -webkit-fill-available;
    justify-items: center;
    animation-name: social-color;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    overflow:hidden;
}
#aboutMeSocialSpan:hover{
    transition: 0.5s;
    box-shadow: 0px 0px 10px 6px black, 0px 0px 10px 1px rgba(218, 31, 255, 0.418) inset;
}
@keyframes social-color {
    0%{
        background-color: rgba(0, 170, 65, 0.301);
    }
    25%{
        background-color: rgba(235, 87, 255, 0.301);
    }
    50%{
        background-color: rgba(87, 126, 255, 0.301);
    }
    51%{
        background-color: rgba(87, 126, 255, 0.301);
    }
    75%{
        background-color: rgba(235, 87, 255, 0.301);
    }
    100%{
        background-color: rgba(0, 170, 65, 0.301);
    }   
} */

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}



body {
    height: 100%;
    margin: 0;
    z-index: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    color:#fff3d8;
    overflow-x: hidden;
    background: radial-gradient(rgb(65, 0, 0), black);
    font-family: 'Anton', sans-serif;
    font-size: 0.80rem;
    letter-spacing: 0.5px;
}


html {
    height: 100%;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

/* #projectSelectThree{
    cursor: pointer;
    display: grid;
    grid-row: 4;
    grid-column: 1;
    background: repeating-linear-gradient( 120deg, #003612, #000000 0.5px, #000000 0.5px, #003612 2.2px);
    box-shadow: 0px 2px 8px 1px #000000d8, -0.1px 0.1px 1px 1px #3b9652 inset;
    border: 1px solid rgba(74, 255, 104, 0.712);
} */
a, a:visited{
    text-decoration: none;
    color:#ffe48b;
}
a:hover{
    color:rgb(122, 255, 189);
}
a:active{
    color:rgb(27, 204, 115);
}
a:last-child{
    text-decoration: none;
}



main{
    display: grid;
    grid-row: 2;
    grid-column: 2;
    justify-content: center;
}

    .main-content-grid-container{
        background-color: rgb(21, 14, 31);
        width: 80vw;
        height: fit-content;
        border-top-left-radius: 0.4rem;
        border-top-right-radius: 0.4rem;
    }

    .main-content-unified-base{
        background-color: #1b0303;
        padding: 1rem;
        height: fit-content;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }

    .main-content-top-headline-banner{
        text-align: center;
        background: rgb(134, 16, 16);
        border-top: 1px solid red;
        border-bottom: 1px solid rgb(150, 35, 35);
        padding: 1rem;
        grid-column: span 2;
        grid-row: 1;
        border-top-left-radius: 0.4rem;
        border-top-right-radius: 0.4rem;
    }

    .main-content-left-qualification{
        border-radius: 0.4rem;
        width: 85%;
        height: 1000px;
        padding: 1rem;
        grid-column: 1;
        background: repeating-linear-gradient( 60deg, #054119, #000000 1px, #000000 1px, #054119 1.8px);
        box-shadow: 0px 0px 10px 0px black, 0px 0px 40px 0px rgb(99, 255, 151) inset;
        border: 1px solid green;
        display: grid;
        grid-template-rows: repeat(3, 100px);
        justify-items: stretch;
        justify-self: end;
        line-height: 2.2em;
    }

        .main-content-left-qualification:hover{
            transition: 0.4s;
            box-shadow: 0px 0px 25px 2px black, 0px 0px 60px 0px rgb(99, 255, 151) inset;
        }

    .main-content-title-banner{
        display: grid;
        align-content: center;
        grid-row: 1;
        background:rgba(0, 0, 0, 0.534);
        border-bottom: 1px solid rgb(59, 78, 30);
        padding: 1rem;
        width: 100%;
        text-align: center;
        justify-self: center;
        height: 1rem;
    }

        .main-content-title-banner{
            position: relative;
            top: -15px;
            border-top-left-radius: 0.4rem;
            border-top-right-radius: 0.4rem;
        }

    .main-content-status{
        grid-row: 2;
        position: relative;
        top: -55px;
        text-align: center;
        height: fit-content;
        font-size: large;
    }

        

    .main-content-blurb-grid-container{
        height: fit-content;
    }

        .blurb-title{
        
            width: fit-content;
            background-color: rgba(43, 194, 43, 0.39);
            border-top-right-radius: 0.2rem;
            border-top-left-radius: 0.2rem;
            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.397), 0px 0px 3px 0px rgba(255, 255, 255, 0.596) inset;
            padding: 0.5rem 1rem 0.5rem 1rem;
            border-top: 1px solid rgb(0, 0, 0);
            text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.541);
        }
        

        .main-content-listed-item{
            position: relative;
            top: -100px;
            display: grid;
            margin: 20px;

        }

        .btn-shadow{
            justify-self: center;
            cursor: pointer;
            background:rgb(4, 49, 22);
            border: 1px solid rgb(0, 0, 0);
            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.397), 0px 0px  1px 0px rgb(63, 255, 111) inset;
            width: 60%;
            padding: 1rem;
            color: inherit;
            border-radius: 0.2rem;
            margin: 1rem;
        }

            .btn-shadow:hover{
                background:rgb(0, 39, 15);
            }

            .btn-shadow:active{
                box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.397), 0px 0px  1px 0px rgb(63, 255, 111) inset;
                background:rgb(2, 63, 25);

            }

            .listed-item-paragraph{
                padding: 2rem;
                background:rgb(0, 20, 8);
                border-top-right-radius: 0.4rem;
                border-bottom-left-radius: 0.4rem;
                border-bottom-right-radius: 0.4rem;
                box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.397), 0px 0px  1px 0px rgba(63, 255, 111, 0.596) inset;
                border: 1px solid black;
            }

            .social-media-nested-list-base{
                filter: sepia(0.7) contrast(1.3);
                width: 80%;
                height: fit-content;
                justify-self: center;
                padding: 1rem;
                box-shadow: 0px 0px 5px 0px black, 0px 0px 1px 1px rgba(255, 255, 255, 0.212) inset;
                border-radius: 0.4rem;
                display: grid;

            }

            .social-media-nested-list-base:hover{
                transition: 0.5s;
                box-shadow: 0px 0px 10px 0px black, 0px 0px 1px 1px rgba(255, 255, 255, 0.212) inset;
                animation-name: social-color;
                animation-duration: 10s;
                animation-iteration-count: infinite;
                animation-direction: alternate;
            }

            @keyframes social-color {
                0%{
                    background-color: rgba(0, 160, 99, 0.329);
                }
                25%{
                    background-color: rgba(190, 62, 169, 0.705);
                }
                50%{
                    background-color: rgba(87, 126, 255, 0.301);
                }
                51%{
                    background-color: rgba(87, 126, 255, 0.301);
                }
                75%{
                    background-color: rgba(235, 87, 255, 0.301);
                }
                100%{
                    background-color: rgba(0, 170, 65, 0.301);
                }   
            }

                #social-grid-sort{
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    justify-self: center;
                    justify-items: center;
                    padding: 0.5rem;
                    border-radius: 0.4rem;
                }
                .social-media-listed-image{
                    display: grid;
                    /* grid-template-columns: 1fr 50px; */
                    height: 30px;
                    /* background-color: rgba(31, 80, 35, 0.466); */
                }


                .social-media-outbound-text{
                    align-self: center;
                    /* background:rgb(29, 77, 45); */
                    text-align: center;
                    color:#00000088;
                    height: inherit;
                }

                .social-section-fix{
                    grid-column: span 3;
                    width: 80%;
                    margin: 0.5rem;
                }
                #social-top{
                    border-radius: 0.4rem;
                    width: 100%;
                    height: 60px;
                    grid-row: 1;
                    border-bottom-right-radius: 0rem;
                    border-bottom-left-radius: 0rem;
                    grid-column: span 3;
                    background-color: #133323;
                }

                    #social-top:hover{
                        transition: 0.5s;
                    }

                #social-bottom-row-left{
                    grid-column: 1;
                    border-bottom-right-radius: 0rem;
                    border-top-right-radius: 0rem;
                }

                #social-bottom-row-left, #social-bottom-row-right, #social-bottom-row-center{
                    grid-row: 2;
                    width: 100%;
                    height: 50px;
                    background-color: #133323;
                }

                #social-bottom-row-left:hover, #social-bottom-row-right:hover, #social-bottom-row-center:hover{
                    background-color: #297c52;
                }                

                #social-bottom-row-center{
                    border-radius: 0rem;
                    justify-self: unset;
                    grid-column: 2;
                    margin: 0;
                }
                
                #social-bottom-row-right{
                    border-top-right-radius: 0rem;
                    border-bottom-left-radius: 0rem;
                    grid-column: 3;
                }

                #exp-grid-sort{
                    grid-template-columns: 1fr;
                    grid-template-rows: 1fr 1fr 1fr 1fr;
                }
                .exp-grid-fix{
                    cursor: pointer;
                    height: fit-content;
                    padding: 1rem;
                }

                .exp-grid-fix:hover{
                    transition: 0.5s;
                    background-color: #054119;
                }

                .social-media-hover{
                    height: fit-content;
                    padding: 1rem;
                    animation-name: social-color;
                    animation-duration: 100s;
                    animation-iteration-count: infinite;
                    animation-direction: alternate;
                    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.493), 0px 0px 1px 1px rgba(255, 255, 255, 0.103) inset;
                }

                .social-media-hover:hover{
                    transition: 0.5s;
                    height: 60px;
                    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.493), 0px 0px 100px 1px rgba(255, 255, 255, 0.562) inset;
                }

            .project-unlisted{
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr;
            }

                .project-listed{
                    cursor: pointer;
                    background: rgb(32, 58, 28);
                    padding: 0.1rem;
                    margin: 2px;
                }

                .project-listed:hover{
                    background: rgb(44, 80, 38);

                }

                .project-listed:active{
                    background: rgb(26, 46, 22);
                }

                    .project-blurb-title{
                        text-align: center;
                    }

                .project-paragraph-blurb{
                    padding: 1rem;
                    background-color: #000000;
                }

                .menu-collapse{
                    display: none;
                }

                
            #qualification-hue{
                filter: hue-rotate(100deg) contrast(1.1);
            }

            #about-hue{
                filter: hue-rotate(200deg) contrast(1.1);
            }



    .main-content-right-about{
        height: 1000px;
        display: grid;
        grid-template-rows: repeat(3, 100px);
        justify-items: stretch;
        line-height: 2.2em;
        border-radius: 0.4rem;
        width: 80%;
        padding: 1rem;
        grid-column: 2;
        box-shadow: 0px 0px 10px 0px black, 0px 0px 1px 1px rgb(0, 155, 52);
        background: repeating-linear-gradient( 60deg, #054119, #000000 1px, #000000 1px, #054119 1.8px);
        box-shadow: 0px 0px 10px 0px black, 0px 0px 40px 0px rgb(99, 255, 151) inset;
        border: 1px solid green;
    }

        .main-content-right-about:hover{
            transition: 0.4s;
            box-shadow: 0px 0px 25px 2px black, 0px 0px 60px 0px rgb(99, 255, 151) inset;    
        }

.secondary-content-grid-container{
    scroll-snap-align: start;
    border-radius: 0.4rem;
    background: rgb(15, 4, 26);
    width: 100%;
    margin: 2rem 0rem 2rem 0rem;
    padding: 1rem;
    grid-column: span 2;
    height: fit-content;
    display: grid;
    justify-items: center;
}

    .secondary-content-banner{
        background-color: rgb(38, 21, 78);
        text-align: center;
        padding: 1rem;
        width: 80%;
        margin: 1rem;
    }

    .animation-content-grid-container{
        background: rgb(28, 28, 75);
        height: 1000px;
        width: 90%;
        display: grid;
        justify-items: center;
    }

    .content-active-video-banner-base{
        background: rgba(0, 0, 0, 0.548);
        width: 1350px;
        height: 400px;
        text-align: center;
    }

    #active-video{
        width: 1350px;
        height: 400px;
    }

.content-active-information-base{
    display: grid;
    justify-content: center;
    align-items: center;
}

    .active-information-unlisted{
        background: rgb(3, 9, 26);
        border-top-left-radius: 0.4rem;
        border-top-right-radius: 0.4rem ;
        padding: 1rem;
        width: 90%;
        height: 100%;
        justify-self: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        line-height: 2.2em;
    }

    .active-information-listed{
        background-color: #331936;
        padding: 1rem;
    }

        .listed-items-pattern{
            background-color: #47294b;
        }

        .active-listed-items-header{
            padding: 1rem;
            text-align: center;
            font-size: large;
            background: rgba(0, 0, 0, 0.603);
        }
        
@media (min-width: 0px) {

    .main-content-unified-base{
        grid-template-columns: 0px 1fr 0px;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 2rem;
    }

    .main-content-left-qualification{
        grid-row: 1;
        grid-column: 2;
        width: 100%;
        /* max-width: 500px; */
        justify-self: center;
    }

    .main-content-grid-container{
        scroll-snap-align: start;
    }
    
    .main-content-right-about{
        scroll-snap-align: start;
        grid-row: 2;
        grid-column: 2;
        justify-self: center;
        width: 100%;
    }
    
}

@media (min-width: 1300px) {
   
    .main-content-unified-base{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 2rem;
    }

    .main-content-left-qualification{
        grid-row: 1;
        grid-column: 1;
        width: 100%;

    }

    .main-content-right-about{
        grid-row: 1;
        grid-column: 2;
        width: 100%;
    }
    
}


@media (min-width: 1800px) {

    }