.styling-about-me{
    position:relative;
    border: 2px dotted rgba(0, 3, 44, 0.452);
    box-shadow: 0px 0.5px 2px #000000;
    background-color:rgba(0, 58, 54, 0.336);
    width:40%;
    padding: 20px;
    color:rgb(255, 220, 160);
    
}
.styling-about-me2{
    position:relative;
    left:auto;
    bottom: auto;
    border: 2px dotted rgba(13, 0, 44, 0.452);
    box-shadow: 0px 0.5px 2px #000000;
    background-color:rgba(0, 58, 54, 0.336);
    width:40%;
    padding: 20px;
    color:rgb(255, 220, 160);
    
}
.design-thing{
    position:relative;
    border: 1.9px dotted rgba(173, 136, 36, 0.233);
    border-bottom: 3px dotted rgba(235, 73, 73, 0.253);
    margin:auto;
    margin-top:55px;
    background-color:rgba(243, 56, 56, 0.267);
    width:50%;
    padding: 100px;
    color:rgb(42, 255, 148);
    text-align: center;
    text-shadow: 1px 1px #00000063;
    
}
.about-me{
    color:rgb(42, 255, 148);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.about-me2{
    color:rgb(42, 255, 148);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.about-design{
    color:rgb(255, 220, 160);
    text-align:center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
#eventual-headline {
    background-color:rgb(0, 17, 26);
    text-align:center;
    color:rgb(42, 255, 148);
    text-shadow: 1px 1px #00000063;
    border-bottom: 15px double rgba(42, 255, 149, 0.651);
    border-radius: 5px;
    margin:0px;
    padding: 15%;
}
#eventual-headline-dos {
    background-color:rgb(48, 15, 28);
    color:rgb(192, 183, 170);
    border-radius: 15px;
    font-size:0.5em;
    text-align: center;
}
body {
    margin: 0px;
    padding: 10px;
    background-color: rgb(26, 0, 15);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.color-me {
    font-size:1.5em;
    color:rgb(42, 255, 148);
    text-align: center;
    text-shadow: 1px 1px #00000063;
    background-color: rgba(66, 0, 28, 0.685);
    padding: 20px;
    border: 1.8px dotted rgba(75, 61, 61, 0.438);
    box-shadow: 0px 0.5px 2px #000000;
}
a:link{
    color:rgb(92, 255, 220)
}
footer {
    border: 1.9px dotted rgba(173, 136, 36, 0.233);
    background: repeating-linear-gradient( 120deg, #8b7244, #6b623bd7 0.5px, #8a743a94 0.5px, #cf9e4294 5px); height: auto; width: auto;
    box-shadow: 0px 0.5px 8px 1px #0000007c, -0.1px 0.1px 0.2px 0.5px #ffffff inset;
    margin: auto;
    margin-top: 300px;
    color:rgb(248, 255, 208);
    text-shadow: 1px 1px #00000063;
}