#eventual-headline {
    background-color:rgb(151, 144, 135)
}
body {
    margin: 0px;
    padding: 10px;
    background-color: rgb(255, 239, 232);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.color-me {
    font-size:1.5em;
    color:#554e46;
}